.cardListSection{
    width: 1200px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px
}
.positonSection{
    width: 1200px;
    margin: 100px auto 0;
    
}